{
  "swagger": "2.0",
  "info": {
    "title": "DocRouter Account",
    "description": "DocRouter account-scoped APIs under /v0/account/: manage users, organizations, account-level API tokens, AWS integration, and LLM provider configuration. Authenticate with an account-level API token (prefix acc_, no organization binding) via X-Api-Key \u2014 create one in the DocRouter app under Settings \u2192 Developer. Organization-scoped tokens (org_...) cannot call these paths.",
    "version": "1.0",
    "contact": {
      "name": "DocRouter Support",
      "url": "https://docrouter.ai",
      "email": "support@docrouter.ai"
    }
  },
  "host": "app.docrouter.ai",
  "basePath": "/fastapi",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "header",
      "name": "X-Api-Key"
    }
  },
  "security": [
    {
      "api_key": []
    }
  ],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://docrouter.ai"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://docrouter.ai/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "AI"
    }
  ],
  "definitions": {
    "OrganizationMember": {
      "type": "object",
      "additionalProperties": true,
      "properties": {
        "user_id": {
          "type": "string"
        },
        "role": {
          "type": "string",
          "description": "admin or user"
        }
      }
    },
    "Organization": {
      "type": "object",
      "additionalProperties": true,
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "members": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/OrganizationMember"
          }
        },
        "type": {
          "type": "string"
        },
        "default_prompt_enabled": {
          "type": "string"
        },
        "ocr_config": {
          "type": "object"
        },
        "ocr_catalog": {
          "type": "object"
        }
      }
    },
    "OrganizationCreate": {
      "type": "object",
      "required": [
        "name"
      ],
      "properties": {
        "name": {
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "individual, team, or enterprise"
        },
        "default_prompt_enabled": {
          "type": "boolean"
        },
        "ocr_config": {
          "type": "object"
        }
      }
    },
    "OrganizationUpdate": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "members": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/OrganizationMember"
          }
        },
        "default_prompt_enabled": {
          "type": "boolean"
        },
        "ocr_config": {
          "type": "object"
        }
      }
    },
    "ListOrganizationsResponse": {
      "type": "object",
      "properties": {
        "organizations": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Organization"
          }
        },
        "total_count": {
          "type": "integer",
          "format": "int32"
        },
        "skip": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "UserResponse": {
      "type": "object",
      "additionalProperties": true,
      "properties": {
        "id": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "role": {
          "type": "string"
        },
        "created_at": {
          "type": "string"
        },
        "has_password": {
          "type": "boolean"
        }
      }
    },
    "UserCreate": {
      "type": "object",
      "required": [
        "email",
        "name",
        "password"
      ],
      "properties": {
        "email": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "password": {
          "type": "string",
          "format": "password"
        }
      }
    },
    "UserUpdate": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "password": {
          "type": "string",
          "format": "password"
        },
        "role": {
          "type": "string"
        },
        "email_verified": {
          "type": "boolean"
        },
        "has_seen_tour": {
          "type": "boolean"
        }
      }
    },
    "ListUsersResponse": {
      "type": "object",
      "properties": {
        "users": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/UserResponse"
          }
        },
        "total_count": {
          "type": "integer",
          "format": "int32"
        },
        "skip": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "AccessToken": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "user_id": {
          "type": "string"
        },
        "organization_id": {
          "type": "string",
          "x-nullable": true
        },
        "name": {
          "type": "string"
        },
        "token": {
          "type": "string"
        },
        "created_at": {
          "type": "string"
        },
        "lifetime": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "CreateAccessTokenRequest": {
      "type": "object",
      "required": [
        "name",
        "lifetime"
      ],
      "properties": {
        "name": {
          "type": "string"
        },
        "lifetime": {
          "type": "integer",
          "format": "int32",
          "description": "Token lifetime in seconds"
        }
      }
    },
    "ListAccessTokensResponse": {
      "type": "object",
      "properties": {
        "access_tokens": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AccessToken"
          }
        }
      }
    },
    "AWSConfig": {
      "type": "object",
      "required": [
        "access_key_id",
        "secret_access_key",
        "s3_bucket_name"
      ],
      "properties": {
        "access_key_id": {
          "type": "string"
        },
        "secret_access_key": {
          "type": "string",
          "format": "password"
        },
        "s3_bucket_name": {
          "type": "string"
        }
      }
    },
    "MessageResponse": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string"
        }
      }
    },
    "StatusResponse": {
      "type": "object",
      "properties": {
        "status": {
          "type": "string"
        }
      }
    },
    "LLMChatModel": {
      "type": "object",
      "properties": {
        "litellm_model": {
          "type": "string"
        },
        "litellm_provider": {
          "type": "string"
        },
        "max_input_tokens": {
          "type": "integer",
          "format": "int32"
        },
        "max_output_tokens": {
          "type": "integer",
          "format": "int32"
        },
        "input_cost_per_token": {
          "type": "number",
          "format": "float"
        },
        "output_cost_per_token": {
          "type": "number",
          "format": "float"
        }
      }
    },
    "LLMEmbeddingModel": {
      "type": "object",
      "properties": {
        "litellm_model": {
          "type": "string"
        },
        "litellm_provider": {
          "type": "string"
        },
        "max_input_tokens": {
          "type": "integer",
          "format": "int32"
        },
        "dimensions": {
          "type": "integer",
          "format": "int32"
        },
        "input_cost_per_token": {
          "type": "number",
          "format": "float"
        },
        "input_cost_per_token_batches": {
          "type": "number",
          "format": "float"
        }
      }
    },
    "ListLLMModelsResponse": {
      "type": "object",
      "properties": {
        "chat_models": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/LLMChatModel"
          }
        },
        "embedding_models": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/LLMEmbeddingModel"
          }
        }
      }
    },
    "LLMProvider": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "display_name": {
          "type": "string"
        },
        "litellm_provider": {
          "type": "string"
        },
        "litellm_models_available": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "litellm_models_enabled": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "litellm_models_chat_agent": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "enabled": {
          "type": "boolean"
        },
        "token": {
          "type": "string"
        },
        "token_created_at": {
          "type": "string",
          "x-nullable": true
        }
      }
    },
    "ListLLMProvidersResponse": {
      "type": "object",
      "properties": {
        "providers": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/LLMProvider"
          }
        }
      }
    },
    "SetLLMProviderConfigRequest": {
      "type": "object",
      "properties": {
        "litellm_models_enabled": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "litellm_models_chat_agent": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "enabled": {
          "type": "boolean"
        },
        "token": {
          "type": "string",
          "format": "password"
        }
      }
    },
    "TokenOrganizationResponse": {
      "type": "object",
      "properties": {
        "organization_id": {
          "type": "string",
          "x-nullable": true
        },
        "organization_name": {
          "type": "string",
          "x-nullable": true
        },
        "organization_type": {
          "type": "string",
          "x-nullable": true
        }
      }
    }
  },
  "paths": {
    "/v0/account/organizations": {
      "get": {
        "operationId": "ListOrganizations",
        "summary": "List organizations",
        "description": "List organizations visible to the token, filter by user or single org id, or search by name/member. Requires appropriate permissions.",
        "x-ms-summary": "List organizations",
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "User Id",
            "description": "Filter by user ID (admin or self)."
          },
          {
            "name": "organization_id",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Organization Id",
            "description": "Return a single organization by ID."
          },
          {
            "name": "name_search",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Name Search",
            "description": "Case-insensitive name search."
          },
          {
            "name": "member_search",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Member Search",
            "description": "Case-insensitive member name or email search."
          },
          {
            "name": "skip",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Skip",
            "description": "Pagination offset.",
            "format": "int32",
            "default": 0
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Limit",
            "description": "Page size (1\u2013100).",
            "format": "int32",
            "default": 10
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListOrganizationsResponse"
            }
          }
        }
      },
      "post": {
        "operationId": "CreateOrganization",
        "summary": "Create organization",
        "description": "Create a new organization; the current user becomes an admin member.",
        "x-ms-summary": "Create organization",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OrganizationCreate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Organization"
            }
          }
        }
      }
    },
    "/v0/account/organizations/{organization_id}": {
      "put": {
        "operationId": "UpdateOrganization",
        "summary": "Update organization",
        "description": "Update organization name, members, type, OCR config, etc. Requires org admin or system admin.",
        "x-ms-summary": "Update organization",
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Organization Id",
            "description": "Organization ID.",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OrganizationUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Organization"
            }
          }
        }
      },
      "delete": {
        "operationId": "DeleteOrganization",
        "summary": "Delete organization",
        "description": "Delete an organization. Requires org admin or system admin.",
        "x-ms-summary": "Delete organization",
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Organization Id",
            "description": "Organization ID.",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/StatusResponse"
            }
          }
        }
      }
    },
    "/v0/account/users": {
      "get": {
        "operationId": "ListUsers",
        "summary": "List users",
        "description": "List users or filter by organization or single user id. Permissions apply per DocRouter rules.",
        "x-ms-summary": "List users",
        "parameters": [
          {
            "name": "organization_id",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Organization Id",
            "description": "Filter users belonging to this organization."
          },
          {
            "name": "user_id",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "User Id",
            "description": "Return a single user by ID."
          },
          {
            "name": "search_name",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Search Name",
            "description": "Search name or email (case-insensitive)."
          },
          {
            "name": "skip",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Skip",
            "description": "Pagination offset.",
            "format": "int32",
            "default": 0
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Limit",
            "description": "Page size.",
            "format": "int32",
            "default": 10
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListUsersResponse"
            }
          }
        }
      },
      "post": {
        "operationId": "CreateUser",
        "summary": "Create user",
        "description": "Create a user and default individual organization (system admin only).",
        "x-ms-summary": "Create user",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UserCreate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UserResponse"
            }
          }
        }
      }
    },
    "/v0/account/users/{user_id}": {
      "put": {
        "operationId": "UpdateUser",
        "summary": "Update user",
        "description": "Update user profile (self or admin).",
        "x-ms-summary": "Update user",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "User Id",
            "description": "User ID.",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UserUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UserResponse"
            }
          }
        }
      },
      "delete": {
        "operationId": "DeleteUser",
        "summary": "Delete user",
        "description": "Delete a user (self or admin).",
        "x-ms-summary": "Delete user",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "User Id",
            "description": "User ID.",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/MessageResponse"
            }
          }
        }
      }
    },
    "/v0/account/access_tokens": {
      "get": {
        "operationId": "ListAccountAccessTokens",
        "summary": "List account API tokens",
        "description": "List account-level API tokens for the current user (previews only).",
        "x-ms-summary": "List account API tokens",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListAccessTokensResponse"
            }
          }
        }
      },
      "post": {
        "operationId": "CreateAccountAccessToken",
        "summary": "Create account API token",
        "description": "Create a new account-level API token (acc_...). Store the returned token securely; it is not shown again in full.",
        "x-ms-summary": "Create account API token",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateAccessTokenRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AccessToken"
            }
          }
        }
      }
    },
    "/v0/account/access_tokens/{token_id}": {
      "delete": {
        "operationId": "DeleteAccountAccessToken",
        "summary": "Delete account API token",
        "description": "Revoke an account-level API token by id.",
        "x-ms-summary": "Delete account API token",
        "parameters": [
          {
            "name": "token_id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Token Id",
            "description": "Access token document id.",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/MessageResponse"
            }
          }
        }
      }
    },
    "/v0/account/aws_config": {
      "get": {
        "operationId": "GetAwsConfig",
        "summary": "Get AWS configuration",
        "description": "Get stored AWS credentials and S3 bucket for the account (system admin only).",
        "x-ms-summary": "Get AWS configuration",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AWSConfig"
            }
          }
        }
      },
      "post": {
        "operationId": "SetAwsConfig",
        "summary": "Set AWS configuration",
        "description": "Create or update AWS access key and S3 bucket for the account (system admin only).",
        "x-ms-summary": "Set AWS configuration",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AWSConfig"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/MessageResponse"
            }
          }
        }
      },
      "delete": {
        "operationId": "DeleteAwsConfig",
        "summary": "Delete AWS configuration",
        "description": "Remove stored AWS configuration (system admin only).",
        "x-ms-summary": "Delete AWS configuration",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/MessageResponse"
            }
          }
        }
      }
    },
    "/v0/account/llm/models": {
      "get": {
        "operationId": "ListAccountLlmModels",
        "summary": "List LLM models",
        "description": "List available chat and embedding models across providers.",
        "x-ms-summary": "List LLM models",
        "parameters": [
          {
            "name": "provider_name",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Provider Name",
            "description": "Filter by provider internal name."
          },
          {
            "name": "provider_enabled",
            "in": "query",
            "required": false,
            "type": "boolean",
            "x-ms-summary": "Provider enabled",
            "description": "If set, filter models to enabled (true) or disabled (false) providers."
          },
          {
            "name": "llm_enabled",
            "in": "query",
            "required": false,
            "type": "boolean",
            "default": true,
            "x-ms-summary": "LLM enabled",
            "description": "If true (default), return only enabled models; if false, return all available models."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListLLMModelsResponse"
            }
          }
        }
      }
    },
    "/v0/account/llm/providers": {
      "get": {
        "operationId": "ListAccountLlmProviders",
        "summary": "List LLM providers",
        "description": "List LLM provider definitions and masked tokens (system admin only).",
        "x-ms-summary": "List LLM providers",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListLLMProvidersResponse"
            }
          }
        }
      }
    },
    "/v0/account/llm/provider/{provider_name}": {
      "put": {
        "operationId": "SetAccountLlmProviderConfig",
        "summary": "Set LLM provider configuration",
        "description": "Update enabled models, chat-agent models, enabled flag, or API token for a provider (system admin only).",
        "x-ms-summary": "Set LLM provider configuration",
        "parameters": [
          {
            "name": "provider_name",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Provider Name",
            "description": "Provider key (matches provider name in DocRouter).",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SetLLMProviderConfigRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/MessageResponse"
            }
          }
        }
      }
    },
    "/v0/account/token/organization": {
      "get": {
        "operationId": "ResolveTokenOrganization",
        "summary": "Resolve token to organization",
        "description": "Given an API token string, return organization id/name/type or nulls for account-level tokens.",
        "x-ms-summary": "Resolve token to organization",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "API token",
            "description": "The org or account API token to inspect."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/TokenOrganizationResponse"
            }
          }
        }
      }
    }
  }
}
